/*--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff') format('woff'),
    url('../font/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: 35px;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
  width: 5%;
  float: left;
  font-size: 25px
}
.icon{
  /*width: 47px;*/
  color: #1ce4ef;
  background: transparent !important;
  text-shadow: 0 0 5px #000, 1px 1px 0 #000;
  font-size: 18px;
  border-right: none;
  text-align: left;
  -webkit-transition: opacity 0.7s ease-in-out;
  -moz-transition: opacity 0.7s ease-in-out;
  -ms-transition: opacity 0.7s ease-in-out;
  -o-transition: opacity 0.7s ease-in-out;
  transition: opacity 0.7s ease-in-out;
}
.icon div{
  padding-left: 30px;
  width: 95%;
  float: left;
  line-height: 35px;
}
ul.two-column>li>div{
  display: inline;
}
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }
.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }
.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }
.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }
.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }
.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }
.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }
.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }
.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }
.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }
.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }
.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }
.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }
.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }
.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }
.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }
.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }

body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Lato', sans-serif;
 }
body a{
  color: #08c;
  text-decoration: none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
ul.two-column {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  text-align: left;
}
ul>li{
  list-style: none;
  line-height: 30px;
}
.downloads>li{
  list-style: none;
  padding-left: 30px;
  margin-left: -10px;
  line-height: 1.7em;
}
.downloads>li.first{
  background: url('../images/check.png') no-repeat left;
  list-style: none;
  /*color: #08c;*/
  font-weight:bold;
}
ol {
  margin:0 0 1.5em;
  padding:0;
  counter-reset:item;
}
 
ol>li {
  margin:0;
  padding:0 0 0 2em;
  text-indent:-2em;
  list-style-type:none;
  counter-increment:item;
}
 
ol>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
.none-list{
  list-style: none;
}
/*----*/
.banner{
	background:url(../images/bg.jpg) no-repeat;
	background-size:cover;
	min-height:720px;
	position:relative;
}
.header{
	padding-top:2em;
}
.logo{
	float:left;
}
.top-nav{
	float:right;
	margin-right:0em;
}
button#showRightPush {
  border: none;  
  padding: 6px;
  outline: none;
  position: fixed;
  z-index: 1;
  background: #1ce4ef;;
}
nav#cbp-spmenu-s2 {
  background: #fff;
  text-align: center;
}
nav#cbp-spmenu-s2 a {
	color: rgba(197, 183, 142, 1);
	display: block;
	padding: 20px 25px;
	font-size: 18px;
	font-weight: 400;
	border: none;
	margin: 0;
	transition: .5s all;
	border-bottom: 1px dotted rgb(118, 118, 118);
	text-decoration: none;
}
nav#cbp-spmenu-s2 a:hover {
	text-decoration: none;
	background: none;
}
nav#cbp-spmenu-s2 a.active,nav#cbp-spmenu-s2 a:hover {
	color: #0f091c;
}
nav#cbp-spmenu-s2 h3 {
  background:#1ce4ef;
  color: white;
}
.hand {
	position:absolute;
	right:0px;
	bottom:0;
}
.banner-info {
  margin-top: 10em;
  width: 46%;
  display: inline-block;
}
.banner-info h1{
	color:#fff;
	font-size:4em;
	font-weight:600;
}
.banner-info h1 span{
	display:block;
	font-weight:400;
}
.banner-info p{
	font-size:1em;
	font-weight:400;
	color:#fff;
	line-height:1.3em;
	margin-top:1em;
}
.banner-info a{
	display:inline-block;
	margin-top:3em;
}
.banner-info a img:hover {
  opacity: 0.6;  
}
.down{
	margin-top: 3em;
	text-align:center;
}
/*--features--*/
.features{
	 background:#0f091c;
	 padding:5em 0 3em 0;
}
.feature-info h3{
	font-size:3.5em;
	font-weight:500;
	color:#1ce4ef;
	margin-bottom:0.5em;
}
.feature-info p{
	font-size:1.2em;
	font-weight:600;
	width:60%;
	margin:0 auto;
	line-height:1.3em;
}
.feature-grids{
	margin-top:4em;
}
.grid1{
	background:url(../images/ap1.png) no-repeat 0px 0px;
}
.grid2{
	background:url(../images/ap2.png) no-repeat 0px 0px;
}
.grid3{
	background:url(../images/ap3.png) no-repeat 0px 0px;
}
.grid4{
	background:url(../images/ap4.png) no-repeat 0px 0px;
}
.feature-grid{
	padding:0px 0 10px 140px;
	margin-bottom:4em;
}
.feature-grid h3{
	font-size:1.7em;
	font-weight:500;
	color:#1ce4ef;
	margin-bottom:0.5em;	
}
.feature-grid p{
	font-size:1em;
	font-weight:500;
	color:#3d3946;
	width:80%;	
	line-height:1.3em;
}
/*--landing--*/
.landing{
	padding:6em 0;
	border-bottom:1px solid #9f9da4;
}
.landing h3{
	 color:#1ce4ef;
	 text-align:center;
	 font-size:3.5em;
	 margin-bottom:0.5em;
	 font-weight:500;
}
.landing-info{
	margin-top: 4em;
  width: 40.3%;
  padding-left: 6em;
}
.landing-info p{
	 font-size:1.25em;
	 font-weight:400;
	 color:#898989;
	 margin-bottom:2em;
}
.slades img {
  width: 100%;
}
.slades {
  text-align: center;
  margin-left: 10em;
  width: 40%;
}
/*--screen-shots--*/
.screen-shots{
	padding:5em 0 6em 0;
	border-bottom:1px solid #9f9da4;
}
.screen-shots h3{
  color: #1ce4ef;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 1em;
  font-weight: 500;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {	
	cursor: pointer;
	position: relative;
	  width: 80%;
  margin: 0 5%;
}
/*--team--*/
.team{
	background:url(../images/bg2.jpg) no-repeat 0px 0px;
	background-size:cover;
	padding:4em 0 0 0;
	min-height:570px;
}
.team h3{
	 font-size:3.5em;
	 color:#000;
	 font-weight:500;
	 text-align:center;
}
.team-grids{
	margin-top:4em;
}
.team-grid img{
	 margin-bottom:1em;
}
.team-grid h4{
	font-size:1.6em;
	font-weight:500;
	margin-bottom:0.5em;
	color:#000;
}
.team-grid p{
	color:#382e48;
	font-size:1.15em;
	font-weight:500;
}
.team-grid img{
	border-radius:50%;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.social-icons a{
	display:inline-block;
	margin-top:12px;
}
.social-icons span{
	background:url(../images/social.png) no-repeat 0px 0px;
	width:42px;
	height:36px;
	display:inline-block;
	margin:0 5px;
}
.social-icons span.fb{
	background-position:11px 0px;
}
.social-icons span.tweet{
	background-position:-29px 0px;
}
.social-icons span.drib{
	background-position:-79px 0px;
}
.social-icons span.fb:hover{
	background-position:11px -50px;
}
.social-icons span.tweet:hover{
	background-position:-29px -51px;
}
.social-icons span.drib:hover{
	background-position:-79px -52px;
}
/*--subscribe--*/
.subscribe{
	background:#1d1130;
	padding:4em 0 5.5em 0;
}
.subscribe h3 {
  color: #1ce4ef;
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 1em;
  font-weight: 500;
}
.subscribe form{
	position:relative;
}
.subscribe input[type="text"] {
  font-weight: 400;
  color: #1f192b;
  border: none;
  outline: none;
  width: 81%;
  font-size: 1.5em;
  padding: 14px;
  color: #4C738F;
  border: 1px solid #fff;
   border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
.subscribe input[type="submit"] {
  font-size: 1.5em;
  padding: 14px;
  background: #1ce4ef;
  width: 13%;
  border: none;
  font-weight: 40000;
  outline: none;
  color: #1f192b;
  position: absolute;
  border: 1px solid #1ce4ef;
  right: 6%;
  top: 0px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
.footer{
	padding:2em 0;
}
.footer p {
  color: #B3B3B3;
  font-size:1.3em;
  margin-top: 9px;
  font-weight: 400;
}
/*--responsive--*/
@media (max-width: 1366px){
.landing-info {
  /*width: 46.3%;*/
  width: 100%;
}
.slades {
  margin-left: 5em;
  width: 45%;
}
.landing {
  padding: 5em 0;
}
}
@media (max-width: 1280px){
.landing-info p {
  font-size: 1.2em;
}
.slades {
  margin-left: 3em;
  width: 48%;
}
.team {
  min-height: 550px;
}
}
@media (max-width: 1024px){
.top-nav {
  margin: 1.3em 2.5em 0 0;
}
.banner-info {
  margin-top: 8em;
    width: 52%;
}
.banner-info h1 {
  font-size: 3em;
}
.hand{
	width:38%;
}
.hand img{
	background-size:100%;
	width:100%;
}
.banner {
  min-height:610px;
}
.feature-info h3 {
  font-size: 3em;
}
.feature-info p {
  width: 72%;
}
.feature-grid p {
  width: 85%;
}
.landing {
  padding: 4em 0;
}
.landing h3 {
  font-size: 3em;
    margin-bottom: 1em;
}
.landing-info {
  width: 44.3%;
  margin-top: 2em;
}
.landing-info p {
  font-size: 1.1em;
    overflow: hidden;
  height: 128px;
}
.screen-shots h3{
	font-size: 3em;
	margin-bottom:2em;
}
.screen-shots {
  padding: 4em 0 6em 0;
}
.subscribe form {
  margin: 0 30px;
}
}
@media (max-width:768px){
ul.two-column {
  columns: 1;
  -webkit-columns: 1;
  -moz-columns: 1;
}
.banner {
  min-height: 520px;
}	
.banner-info {
  margin-top: 7em;
}
.top-nav {
    margin: 0.85em 2.7em 0 0;
}
.logo img{
	/*width:90%;*/
	background-size:100%;
}
.banner-info p {
  overflow: hidden;
  height: 90px;
}
.down img{
	background-size:100%;
	width:5%;
}
.banner-info a img{
	background-size:100%;
	width:75%;
}
.down {
  margin-top: 0em;
}
.feature-info h3,.landing h3,.screen-shots h3,.team h3,.subscribe h3 {
  font-size: 2.6em;
}
.feature-info p {
  width: 86%;
  font-size: 1.1em;
  line-height: 1.2em;
}
.feature-grid h3 {
  font-size: 1.5em;
}
.feature-grid {
  padding: 0px 0 35px 140px;
  margin-bottom: 2.5em;
}
.features {
  padding: 5em 0 1em 0;
}
.landing {
  padding: 3em 0;
}
.slades {
  margin-left:0em;
  width: 50%;
  float: left;
}
.landing-info {
  width: 100%;
  margin-top: 1em;
  float: left;
  padding-left: 3em;
}
.landing-info p {
  font-size: 1em;
  overflow: hidden;
  height: 99px;
  margin-bottom: 1.5em;
}
.team-grid {
	margin-bottom:2em;
	margin-top: 3em;
}
.subscribe input[type="text"] {
  width: 87%;
  font-size: 1.3em;
  padding: 10px;
}
.subscribe input[type="submit"] {
  font-size: 1.3em;
  padding: 10px;
  right: 1%;
}
.footer p {
  font-size: 1em;
}
}
@media (max-width:640px){
.logo img {
  width: 80%;
}
.banner-info h1 {
  font-size: 2.5em;
}
.banner-info {
  margin-top: 6em;
}
.top-nav {
  margin: 0.5em 2.7em 0 0;
}
.banner {
  min-height: 429px;
}
.banner-info a {
  margin-top: 1.3em;
}
.banner-info a img {
  width: 63%;
}
.banner-info p {
  overflow: hidden;
  height: 78px;
  font-size: 0.9em;
}
.feature-info h3, .landing h3, .screen-shots h3, .team h3, .subscribe h3 {
  font-size: 2.3em;
}
.features {
  padding: 3.5em 0 1em 0;
}
.feature-info p {
  width: 96%;
  font-size: 1em;
  line-height: 1.2em;
}
.feature-grids {
  margin-top: 3em;
}
.grid1,.grid2,.grid3,.grid4 {
  background-size: 17%;
}
.feature-grid {
  padding: 0px 0 20px 122px;
  margin-bottom: 2em;
}
.feature-grid p {
  width: 94%;
}
.team-grids {
  margin-top: 3em;
}
.team {
  padding: 3em 0 0 0;
}
.team-grid p {
  font-size: 1em;
}
.subscribe input[type="text"],.subscribe input[type="submit"] {
  font-size: 1.2em;
}
.subscribe {
  padding: 4em 0 4.5em 0;
}
.footer p {
  font-size:0.9em;
}
}
@media (max-width:480px){
.logo img {
  width: 65%;
}
.top-nav {
  margin: 0.3em 2em 0 0;
}
button#showRightPush img{
  background-size: 100%;
  width: 81%;
}
button#showRightPush{
	padding:3px;
}
.banner {
  min-height: 345px;
}
.banner-info {
  margin-top: 4em;
}
.banner-info h1 {
  font-size: 2.1em;
}
.banner-info p {
  height: 76px;
  font-size: 0.85em;
}
.banner-info a img {
  width: 53%;
}
.feature-info h3, .landing h3, .screen-shots h3, .team h3, .subscribe h3 {
  font-size: 1.85em;
}
.features {
  padding: 3em 0 1em 0;
}
.feature-info p {
  font-size: 0.95em;
}
.feature-sec {
  padding: 0;
}
.feature-grid {
  padding: 0px 0 20px 91px;
  margin-bottom: 1em;
  font-size: 0.9em;
}
.feature-grid h3 {
  font-size: 1.3em;
}
.landing-info {
  padding-left: 1em;
}
.landing {
  padding: 2em 0;
}
.landing-info p {
  font-size: 0.9em;
  height: 71px;
  margin-bottom: 1em;
}
.screen-shots {
  padding: 3em 0 6em 0;
}
.team-grid h4 {
  font-size: 1.4em;
}
.team-grid p {
  font-size: 0.95em;
}
.subscribe input[type="text"], .subscribe input[type="submit"] {
  font-size: 1em;
  padding: 8px;
}
.subscribe input[type="submit"] {
  width: 19%;
}  
.subscribe {
  padding: 3em 0 3.5em 0;
}
.footer p {
  font-size:0.85em;
}
}
@media (max-width:320px){
.banner-info h1 {
  font-size: 1.3em;
}
.banner-info p {
  height: 45px;
  }
.banner-info {
  width: 100%;
    margin-top: 3em;
}
.hand {
  width: 47%;
  display: inline-block;
  position: inherit;
  right:-161px;
}
.team-grid p {
  font-size: 0.8em;
}
.landing-info p {
  font-size: 0.8em;
  height: 48px;
  margin-bottom: 0.5em;
}
.hand img {
  width: 100%;
}
.down img {
  width: 10%;
}
button#showRightPush {
  padding: 3px;
}
.grid1, .grid2, .grid3, .grid4 {
  background-size: 26%;
}
.feature-info p {
  font-size: 0.85em;
  overflow: hidden;
  height: 30px;
}
.feature-grids {
  margin-top: 2em;
}
.feature-grid p {
  width: 100%;
  overflow: hidden;
  height: 50px;
}
.feature-grid h3 {
  font-size: 1.1em;
}
.feature-info h3, .landing h3, .screen-shots h3, .team h3, .subscribe h3 {
  font-size: 1.3em;
}
.slades {
  width: 100%;
}
.landing-info {
  width: 100%;
  margin-top: 1em;
}
.screen-shots {
  padding: 2em 0 4em 0px;
}
.team {
  padding: 2em 0 0 0;
}
.team-grid {
  padding: 0;
}
.subscribe form {
  margin: 0 0px;
}
.subscribe input[type="text"] {
  width: 81%;
}
.subscribe input[type="submit"] {
  width: 25%;
}
.team-grid img {
  border-radius: 65%;
  -webkit-border-radius: 65%;
  -moz-border-radius: 65%;
  -ms-border-radius: 65%;
  -o-border-radius: 65%;
  width: 45%;
}
.subscribe input[type="text"], .subscribe input[type="submit"] {
  font-size: 0.9em;
  padding: 8px;
}
.team-grid h4 {
  font-size: 1.2em;
}
.footer {
  padding: 1em 0;
}
.footer p {
  font-size: 0.8em;
  text-align:center;
}
}
